.directional-pad {
  --line-color: #bbbbbb;
}

.directional-pad > .circle {
  --thickness: 0.1875rem;
  position: absolute;
  inset: 0.75rem;
  border-radius: 50%;
  border: var(--thickness) solid var(--line-color);
  overflow: hidden;
}

.directional-pad > .circle > .vertical-line {
  position: absolute;
  inset: calc(-1 * var(--thickness)) auto calc(-1 * var(--thickness)) 50%;
  transform: translateX(-50%);
}
.circle > .vertical-line[data-direction="-1"] {
  width: calc(var(--width) * 100%);
  border-radius: 50%;
  border: 0rem solid var(--line-color);
  border-left: 0.25rem solid var(--line-color);
}
.directional-pad > .circle > .vertical-line[data-direction="1"] {
  width: calc(var(--width) * 100%);
  border-radius: 50%;
  border: 0rem solid var(--line-color);
  border-right: 0.25rem solid var(--line-color);
}

.directional-pad > .circle > .horizontal-line {
  position: absolute;
  inset: 50% calc(-1 * var(--thickness)) auto calc(-1 * var(--thickness));
  transform: translateY(-50%) rotate(var(--angle));
}
.directional-pad > .circle > .horizontal-line[data-direction="-1"] {
  height: calc(var(--height) * 100%);
  border-radius: 50%;
  border: 0rem solid var(--line-color);
  border-top: 0.25rem solid var(--line-color);
}
.directional-pad > .circle > .horizontal-line[data-direction="1"] {
  height: calc(var(--height) * 100%);
  border-radius: 50%;
  border: 0rem solid var(--line-color);
  border-bottom: 0.25rem solid var(--line-color);
}

